@media (min-width: 1340px) {
	.itemClassHome {
		width: calc((1340px - 4rem - 5rem) / 5) !important;
	}
}

@media (min-width: 1280px) and (max-width: 1339px) {
	.itemClassHome {
		width: calc((var(--containerWidth) - 4rem - 5rem) / 5) !important;
	}
}

@media (min-width: 1024px) and (max-width: 1280px) {
	.itemClassHome {
		width: calc((var(--containerWidth) - 4rem - 4rem) / 4) !important;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.itemClassHome {
		width: calc((var(--containerWidth) - 4rem - 3rem) / 3) !important;
	}
}

@media (min-width: 640px) and (max-width: 768px) {
	.itemClassHome {
		width: calc((var(--containerWidth) - 4rem - 2rem) / 2) !important;
	}
}

@media (max-width: 640px) {
	.itemClassHome {
		width: calc(var(--containerWidth) - 4rem - 1rem) !important;
	}
}
