.navbar .logo {
    width: 100px;
}

@media not all and (min-width: 1000px) {
    .detail .middle {
        margin-left: 140px !important;
        margin-right: 140px !important;
    }
}

@media not all and (min-width: 920px) {
    .detail .middle {
        margin-left: 120px !important;
        margin-right: 120px !important;
    }
}

@media not all and (min-width: 880px) {
    .general .detail .middle {
        margin-left: 40px !important;
        margin-right: 40px !important;
    }
}

@media not all and (min-width: 720px) {
    .general {
        flex-direction: column !important;
    }
    .general .language {
        margin-bottom: 40px !important;
    }
    .general .detail {
        flex-direction: column !important;
    }
    .general .detail .middle {
        margin-left: 0px !important;
        margin-right: 0px !important;
        margin-bottom: 0px !important;
    }
}