.upper-archived {
    background-color: #151b32; /* Deep Blue */
    color: #fff; /* White text */
}
.lower-archived {
    background-color: #fff; /* White */
    padding: 20px;
}
.upper-archived .title {
    padding-left: 21%;
}
.upper-archived .filter {
    padding-left: 21%;
}
.lower-archived .searchbar {
    margin-right: 20%;
}