.upper {
    background-color: #151b32; /* Deep Blue */
    color: #fff; /* White text */
}
.lower {
    background-color: #fff; /* White */
    right: 1;
}
.upper .title {
    padding-left: 21%;
}
.upper .filter {
    padding-left: 21%;
}
.lower .searchbar {
    margin-right: 20%;
}